<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>3D Chart - SpaceX Template</title>

    <link href="~/Assets/Admin/styles/style.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/fonts/themify-icons/themify-icons.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugin/mCustomScrollbar/jquery.mCustomScrollbar.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugin/waves/waves.min.css" rel="stylesheet" />


</head>

<body ng-app="academy">
    <div class="main-menu">
        <header class="header">
            <a href="index.html" class="logo"><i class="ico ti-rocket"></i>SpaceX</a>
            <button type="button" class="button-close fa fa-times js__menu_close"></button>
        </header>
        <!-- /.header -->
        <div class="content">

            <div class="navigation">
                <h5 class="title">Navigation</h5>
                <!-- /.title -->
                <ul class="menu js__accordion">
                    <li>
                        <a class="waves-effect" ui-sref="courses"><i class="menu-icon ti-dashboard"></i><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" ui-sref="courses"><i class="menu-icon ti-calendar"></i><span>Quản lý khóa học</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" ui-sref="courses_add"><i class="menu-icon ti-calendar"></i><span>Them khoa hoc</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" ui-sref="courses_edit"><i class="menu-icon ti-calendar"></i><span>Sua khoa học</span></a>
                    </li>
                    <li>
                        <a class="waves-effect" href="widgets.html"><i class="menu-icon ti-layers-alt"></i><span>Quản lý học viên</span><span class="notice notice-yellow">6</span></a>
                    </li>
                </ul>
                <!-- /.menu js__accordion -->
                <h5 class="title">Additions</h5>
                <!-- /.title -->
                <!-- /.menu js__accordion -->
            </div>
            <!-- /.navigation -->
        </div>
        <!-- /.content -->
    </div>
    <!-- /.main-menu -->

    <div class="fixed-navbar">
        <div class="pull-left">
            <button type="button" class="menu-mobile-button glyphicon glyphicon-menu-hamburger js__menu_mobile"></button>
            <h1 class="page-title">3D Chart</h1>
            <!-- /.page-title -->
        </div>
        <!-- /.pull-left -->
        <div class="pull-right">
            <div class="ico-item">
                <a href="#" class="ico-item ti-search js__toggle_open" data-target="#searchform-header"></a>
                <form action="#" id="searchform-header" class="searchform js__toggle"><input type="search" placeholder="Search..." class="input-search"><button class="ti-search button-search" type="submit"></button></form>
                <!-- /.searchform -->
            </div>
            <!-- /.ico-item -->
            <a href="#" class="ico-item ti-email notice-alarm js__toggle_open" data-target="#message-popup"></a>
            <a href="#" class="ico-item ti-bell notice-alarm js__toggle_open" data-target="#notification-popup"></a>
            <div class="ico-item">
                <i class="ti-user"></i>
                <ul class="sub-ico-item">
                    <li><a href="#">Settings</a></li>
                    <li><a class="js__logout" href="#">Log Out</a></li>
                </ul>
                <!-- /.sub-ico-item -->
            </div>
        </div>
        <!-- /.pull-right -->
    </div>
    <div id="wrapper">
        <div class="main-content">
            <div class="row small-spacing">
                <div ui-view></div>
                
            </div>
            <!-- /.row .small-spacing -->
        </div>
        <!-- /.main-content -->
    </div>
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Assets/Admin/scripts/jquery.min.js"></script>
    <script src="~/Assets/Admin/scripts/modernizr.min.js"></script>
    <script src="~/Assets/Admin/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/Admin/plugin/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Assets/Admin/plugin/nprogress/nprogress.js"></script>
    <script src="~/Assets/Admin/plugin/waves/waves.js"></script>
    <script src="~/Assets/Admin/scripts/main.min.js"></script>

    <!-- begin embed angular js-->

    <script src="~/node_modules/angular/angular.js"></script>
    <script src="~/node_modules/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="~/app/shared/modules/academy.common.js"></script>

    <script src="~/app/components/courses/courses.module.js"></script>
    <script src="~/app/app.js"></script>

    <script src="~/app/components/courses/courseAddController.js"></script>

    <script src="~/app/components/courses/courseEditController.js"></script>

    <script src="~/app/components/courses/courseListController.js"></script>
    <script src="~/app/components/home/homeController.js"></script>




</body>
</html>